*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.center{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
}

header{
    background-color: white;
    padding: 20px 0;
    border-bottom:2px solid #16507b;
}

.logo{
    color: #16507b;
}
.menu a{
    color:#124265;
}

.menu a:hover{
    color:#007bff;
}
